.Movies {
  margin-top: 4.38em;
  position: relative;
}

.filtres {
  display: flex;
  position: absolute;
  z-index: 10;
  margin-top: 2.19em;
}

.filtres article {
  display: flex;
  margin-right: 3.13rem;
}

.filtres article p {
  font-weight: 400;
  margin-right: 0rem;
}

.filtres article p,
.filtres article ul span,
.filtres article ul li {
  font-family: 'Roboto';
  font-size: 0.75rem;
  color: #586e94;
}

.filtres article ul div,
.filtres article ul li {
  padding: 0.75rem 1.25rem;
}

.filtres article ul {
  margin-left: 1.2rem;
  outline: none;
  border: 1px solid #586e94;
  border-radius: 14px;
  font-weight: 700;
  margin-top: -0.7rem;
}

.filtres article ul div {
  display: flex;
  align-items: center;
}

.filtres article div span {
  margin-right: 2.5rem;
}

.display {
  margin-top: 6em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9.78%, max-content));
  gap: 2.5rem 12rem;
}

.display div {
  margin-bottom: 2.5em;
  width: 8.63rem;
  height: 16rem;
}

.display div img {
  border-radius: 10px;
}

.display div h3 {
  margin-top: 0.63rem;
  margin-bottom: 0.2rem;
  font-weight: 700;
  font-size: 0.88rem;
  line-height: 1rem;
  color: #ffffff;
}

.display div span {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.88rem;
  color: #586e94;
}

@media screen and (max-width: 375px) {
  .Movies {
    margin-top: 1rem;
  }

  .filtres {
    flex-direction: column;
  }

  .filtres article:nth-child(2) {
    margin-top: 1.5rem;
  }

  .display {
    margin-top: 10rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 4rem;
  }
}
