.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Pagination ul {
  margin-top: 0.63rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 37.5rem;
}

.Pagination ul li {
  cursor: pointer;
  font-family: 'Roboto';
  border: 2px solid #253755;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.19rem;
  color: #586e94;
}

@media screen and (max-width: 375px) {
  .Pagination {
    display: flex;
    justify-content: center;
  }

  .Pagination ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.25rem;
  }
}
